*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(187, 64, 19);
    font-family: fantasy;
    letter-spacing: 1.5px;
}
header{
    background-color: black;
}
.letraBlanca{
    color: white;
    font-size: 2.5rem;
    padding: 50px;
}
.encabezado{
    font-size: 1.5rem;
}
.center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.tamanoTour{
    width: 600px;
}
img{
    width: 500px;
    margin: 50px;
}
.pieIg{
    width: 35px;
    border-radius: 30px;
}
.pieYou{
    width: 35px;
}
.pieTw{
    width: 35px;
}
p{
    font-size: 1.2rem;
    line-height: 1.6;
    padding: 50px;
}
.derecha{
    text-align: right;
    padding: 50px;
}
.izquierda{
    text-align: justify;
    text-align: left;
}
a{
    text-decoration: none;
}
h2{
    padding: 50px;
    letter-spacing: 2.5px;
    color: rgb(0, 0, 0);
    font-style: italic;

}
.fotosInt{
    width: 200px;
    height: 250px;
}
.video{
    width: 550px;
    padding: 50px;
}
footer{
    background-color: black;
}
.section1{
    display: grid;
    column-gap: 10px;
    grid-template-rows: 600px;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
        "textohome textohome imghome";

}
.textohome{
    grid-area: textohome;
    display: flex;
    align-items: center;

}
.imghome{
    grid-area: imghome;
}
@media screen and (max-width:768px){
    .section1{
        column-gap: 10px;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        width: 100%;
        margin: 0 auto;
        grid-template-areas: 
            "textohome"
            "imghome";
    }
    .imghome{
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width:480px){
    header{
        display: flex;
        justify-content: space-evenly;
    }

    .section1{
        column-gap: 10px;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "textohome"
            "imghome";
    }
}
.nav-link{
    color: white;
}
.active{
    font-style: italic;
}
.navbar{
    margin: 0 auto;
}