* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(187, 64, 19);
  font-family: fantasy;
  letter-spacing: 1.5px;
  width: 100%;
}
body p {
  font-size: 1.2rem;
  line-height: 1.6;
  padding: 50px;
}
body h2 {
  margin: 50px;
  letter-spacing: 2.5px;
  color: rgb(0, 0, 0);
  font-style: italic;
}

@media screen and (max-width: 480px) {
  header .letraBlanca {
    text-align: center;
  }
  main .section1 div .row .col .imghome {
    display: flex;
    justify-content: center;
    max-width: 200px;
  }
}
@media screen and (max-width: 480px) {
  main .videos {
    display: flex;
    flex-direction: column;
  }
  main .videos .video {
    padding: 5px;
    margin: 0;
    max-width: 320px;
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  footer .derecha {
    text-align: center;
    padding: 0;
  }
  footer .derecha img {
    width: 35px;
    margin: 0;
  }
}
header {
  background-color: black;
}
header .letraBlanca {
  color: white;
  font-size: 2.5rem;
  padding: 50px;
}
header nav {
  margin: 0 auto;
}
header nav div div ul li .nav-link {
  color: white;
}
header nav div div ul li .active {
  font-style: italic;
}

main .section1 div div div img {
  width: 70%;
  margin: 50px;
}
main .section1 div div div img:hover {
  transform: scale(1.1, 1.1);
}

footer {
  background-color: black;
}
footer .derecha {
  text-align: right;
  padding: 25px;
}
footer .derecha img {
  width: 35px;
  margin: 30px;
}

main section .center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
main section .center .tamanoTour {
  width: 40%;
}
main section .center a {
  text-decoration: none;
}
main section .center a:hover {
  color: rgb(255, 232, 100);
}

@media screen and (max-width: 480px) {
  main section .center .tamanoTour {
    width: 100%;
  }
}
main .videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main .videos .video {
  display: flex;
  max-width: 550px;
  padding: 10px;
  margin: 10px;
}

main section div div .col {
  margin: 0 auto;
}

main .galeria img {
  max-width: 100%;
  margin: 50px;
}
main .galeria img:hover {
  transform: scale(1.1, 1.1);
}
main .galeria a {
  text-decoration: none;
}
main .galeria a:hover {
  color: rgb(255, 232, 100);
}

@media screen and (max-width: 480px) {
  main .galeria img {
    max-width: 80%;
    margin: 30px;
  }
}
@media screen and (max-width: 480px) {
  header .letraBlanca {
    text-align: center;
  }
  main .section1 div .row .col .imghome {
    display: flex;
    justify-content: center;
    max-width: 200px;
  }
}
@media screen and (max-width: 480px) {
  main .videos {
    display: flex;
    flex-direction: column;
  }
  main .videos .video {
    padding: 5px;
    margin: 0;
    max-width: 320px;
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  footer .derecha {
    text-align: center;
    padding: 0;
  }
  footer .derecha img {
    width: 35px;
    margin: 20px;
  }
}

/*# sourceMappingURL=styless.css.map */
