main{
    .videos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .video{
            display: flex;
            max-width: 550px;
            padding:10px;
            margin:10px;
        }
    }
}