main{
    .galeria{
        img{
            max-width: 100%;
            margin: 50px;
        }
        a{
            text-decoration: none;
            &:hover{
                color:rgb(255, 232, 100);
            }
        }
    }
}
@media screen and (max-width:480px){
    main{
        .galeria{
            img{
                max-width: 80%;
                margin:30px;
            }
        }
    }
    
}