*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(187, 64, 19);
    font-family: fantasy;
    letter-spacing: 1.5px;
    width: 100%;
    p{
        font-size: 1.2rem;
        line-height: 1.6;
        padding: 50px;
    }
    h2{
        margin:50px;
        letter-spacing: 2.5px;
        color: rgb(0, 0, 0);
        font-style: italic;
    }
}
