*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(187, 64, 19);
    font-family: fantasy;
    letter-spacing: 1.5px;
    width: 100%;
    p{
        font-size: 1.2rem;
        line-height: 1.6;
        padding: 50px;
    }
    h2{
        margin:50px;
        letter-spacing: 2.5px;
        color: rgb(0, 0, 0);
        font-style: italic;
    }
}
@media screen and (max-width:480px){
    header{
        .letraBlanca{
            text-align: center;
        }
    }
    main{
        .section1{
            div{
                .row{
                    .col{
                        .imghome{
                            display: flex;
                            justify-content: center;
                            max-width: 200px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:480px){
    main{
        .videos{
            display: flex;
            flex-direction: column;
            .video{
                padding: 5px;
                margin: 0;
                max-width: 320px;
                justify-content: center;
            }
        }
    }

}