@media screen and (max-width:480px){
    header{
        .letraBlanca{
            text-align: center;
        }
    }
    main{
        .section1{
            div{
                .row{
                    .col{
                        .imghome{
                            display: flex;
                            justify-content: center;
                            max-width: 200px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:480px){
    main{
        .videos{
            .video{
                padding: 5px;
                margin: 0;
                max-width: 320px;
                justify-content: center;
            }
        }
    }

}

@media screen and (max-width:480px){
    footer{
        .derecha{
            text-align: center;
            padding: 0;
            img{
                width: 35px;
                margin:20px;
            }
        }
    }
}