main{
    section{
        .center{
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            .tamanoTour{
                width:40%;
            }
            a{
                text-decoration: none;
                &:hover{
                    @include links
                }
            }
        }
    }
}
@media screen and (max-width:480px){
    main{
        section{
            .center{
                .tamanoTour{
                    width:100%;
                }
            }
        }
    }
}